.messsageWithReplies {
    margin: 1.5rem 0;
    padding: 0.5rem;
    border: 1px solid rgba(165, 192, 250, 0.5);
    background-color: rgba(143, 179, 255, 0.26);
    border-radius: 5px;
}

.messsageWithoutReplies {
    margin: 1.5rem 0;
}