.btnSent {
    display: flex!important;
    align-items: center;
    border: 1px solid rgba(86, 130, 163, 0.75)!important;
    background: none!important;
    border-radius: 10px;
    flex-grow: 1;
}
.formWrapper {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}
.btnWrapper {
    height: auto;
    display: flex;
    flex-direction: column;
}